h2(style="margin-top: -2em; padding:0") #{uid} coding timesheet - EST

a(href="http://github.com/jhuttner/how-much-do-i-code")
  img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67", alt="Fork me on GitHub")

//p(style="line-height:30px; width: 100px; background-color: blue; color:white; text-align:center") Coding
//p(style="line-height:30px; width: 100px; background-color: #d8d8d8; text-align:center") Not Coding

div
  each hour in hours
    each minute in minutes
      - if (minute === 0)
        div(style="float:left; background-color: #d8d8d8; z-index: 10; position: relative; width: 1px; color:") #{(hour > 12) ? hour - 12 + 'pm' : (hour === 12) ? 'Noon' : (hour === 0) ? '12m' : hour + 'am'}
      - else
        div(style="float:left; background-color: #d8d8d8;width: 1px;") &nbsp;
  p(style="color: white; padding-bottom: 2em") .

each day, d in result
  //- if (d == 0)
    //p= 'Today, ' + day.total + ' minutes'
  //- else if (d == 1)
    //p= 'Yesterday, ' + day.total + ' minutes'
  //- else
    //p= d + ' days ago, ' + day.total + ' minutes'

  div(style="margin:0; padding: 0")
    each hour in hours
      each minute in minutes
        - if (day[hour]['minutes'] && day[hour]['minutes'][minute])
          div(style="float:left; background-color: blue; width: 1px; height: 20px;")  &nbsp;
        - else
          div(style="float:left; background-color: #d8d8d8;width: 1px; height: 20px;") &nbsp;
  p(style="color: black") &nbsp; #{day.total}

p Cumulative Total: #{cumulative_total} minutes
p Percentage: #{ 1/100 * Math.round(10000 * (cumulative_total / (num_days * 1440)))}%
//p Percentage 9 hour workday: #{ 1/100 * Math.round(10000 * (cumulative_total / (num_days * (1440 * (9/24)))))}%
